use flake --impure
export AM_HOME="$(realpath ../ysyx-workbench/abstract-machine)"
export NPC_HOME="$(realpath ../ysyx-workbench/npc)"
export NEMU_HOME="$(realpath ../ysyx-workbench/nemu)"
export YSYXSOC_HOME="$(realpath ../ysyx-workbench/ysyxSoC)"
export NVBOARD_HOME="$(realpath ../ysyx-workbench/nvboard)"
export CFLAGS="-I$AM_HOME/include $CFLAGS"
export CPPFLAGS="-I$AM_HOME/include $CFLAGS"
